<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6">
            <%= image_tag(@user['avatar_url'], :alt => "avatar") %></br>
        </div>

        <div class="col-lg-6">
            <dl>
                <div class="col-lg-5">
                    <%= link_to(@user['name'], @user['html_url']) %><br />
                    <%= @user['login']%></br>

                    <img src="/user.png" width="20" height="20" alt="userlogo" />
                    <span>Followers:</span>
                    <%= @user['followers'] %>
                    <span>Following:</span>
                    <%= @user['following'] %>
                </div>

                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <th>Repositories</th>
                            <th>Url</th>
                        </tr>
                        <% @repos.each do |repo| %>
                        <tr>
                            <td><%= repo['name'] %></td>
                            <td><%= link_to(repo['html_url'],repo['html_url']) %></td>
                        </tr>
                        <% end %>
                    </table>
                </div>
            </dl>
        </div>
    </div>
</div>