<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <%= image_tag(@user['avatar_url'], :alt => "avatar", :class => "rounded-circle") %></br>
            <div class="credentials">
                <%= link_to(@user['name'], @user['html_url']) %><br />
                <%= @user['login']%></br>
            </div>
                    
            <div class="follow">
                <img src="/user.png" width="20" height="20" alt="userlogo" />
                <%= @user['followers'] %>
                <span>Followers</span>
                <span>.</span>
                <%= @user['following'] %>
                <span>Following</span>
            </div> 
        </div> 
        <div class="col-lg-8">
            <h2>List of Repositories</h2>
            <span>( <%= @user['public_repos'] %> )</span>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                </tr>
                <% @repos.each do |repo| %>
                <tr>
                    <td><%= repo['name'] %></td>
                    <td><%= link_to(repo['html_url'],repo['html_url']) %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>